html,body{
	height: 100%;
	width:100%;
}

.colors{
	height: 20%;
	width:100%;
	display:flex;
	justify-content: center;
}

.red_color{
	border:1px solid black;
	background-color: red;
    width:10%;
    height:50%;
}


.pink_color{
	border:1px solid black;
	background-color: pink;
	width:10%;
	height:50%;
}

.blue_color{
	border:1px solid black;
	background-color: blue;
	width:10%;
	height:50%;
}

.violet_color{
	border:1px solid black;
	background-color: violet;
	width:10%;
	height:50%;
}

.orange_color{
	border:1px solid black;
	background-color: orange;
	width:10%;
	height:50%;
}

.name_text{
	height: 60%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.slider{

	height: 20%;
}